<style type="text/css">

    div#pop-up {
        display: none;
        position:absolute;
        color: white;
        font-size: 14px;
        background: rgba(0,0,0,0.6);
        padding: 5px 10px 5px 10px;
        -moz-border-radius: 8px 8px;
        border-radius: 8px 8px;
    }

    div#pop-up-title {
        font-size: 15px;
        margin-bottom: 4px;
        font-weight: bolder;
    }
    div#pop-up-content {
        font-size: 12px;
    }

    rect.graphbox {
        fill: #ffffff;
    }
    
    rect.graphbox.frame {
        stroke: #222;
        stroke-width: 2px
    }
    
    path.link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }
</style>

<div ng-controller="SpringBeans.SpringBeansController">


    <div id="pop-up">
        <div id="pop-up-title"></div>
        <div id="pop-up-content"></div>
    </div>
    <div class="row-fluid">
		<div class="control-group inline-block pull-right">
			
			<input type="text" class="search-query ng-pristine ng-valid"
				placeholder="Filter..." ng-model="filter.pattern">
			<i class="icon-remove clickable" title="Clear filter"
				ng-click="tableDef.filterOptions.filterText = ''"></i>
			<input type="checkbox" ng-model="filter.exclude" >Exclude</input>
						<button class="btn" ng-click="updateGraph()"><i class="icon-refresh" ng-disabled="loading"></i></button>
			
		</div>
	</div>
  <div class="row-fluid">
    <div class="span12 canvas" style="min-height: 800px">
      <div hawtio-force-graph graph="graph" link-distance="100" charge="-300" nodesize="6"></div>
    </div>
  </div>

</div>
